awesome-slugify
asgiref
asyncpg
boto3
botocore
fastapi
flask
langchain
langchain-aws
langdetect
langgraph
opensearch-dsl
opensearch-py
psycopg2-binary
pydantic
python-dotenv
rapidfuzz
redis
requests-aws4auth
tiktoken
unidecode
uvicorn[standard]